*{
  margin: 0;
  padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	min-height: 100%;
}
body{
  background-color: #FFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
input[type="radio"]{
  opacity: 0;
  position: absolute;
  top: -100%;
  left: -100%;
}
.container{
  width: 400px;
  height: 350px;
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 200px);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  display: flex;
}
.cards{
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
}
.card-front,
.card-back{
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  background: -webkit-linear-gradient(-45deg, #8e2c91 0%, #6b226d 100%);
  -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.card-back{
  z-index: 3;
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.chip{
  width: 50px;
  height: 40px;
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 30px;
  background-color: #fbe488;
  border-radius: 5px;
}
.number-card{
  width: 68px;
  height: 50px;
  top: 110px;  
}
input{
  outline: 0;
  position: absolute;
  z-index: 3;
  background-color: transparent;
  box-sizing: border-box;
  border: 0px;
  border-bottom: 2px solid #551756;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #FFF;
}
input:focus{
  border: 0px;
  border-bottom: 2px solid #34a4a5;
}
.number-card-1{
  left: 30px;
}
.number-card-2{
  left: 120px;
}
.number-card-3{
  left: 210px;
}
.number-card-4{
  left: 303px;
}
.number-date{
  width: 34px;
  height: 30px;
  top: 176px;
}
.number-date-1{
  left: 190px;
}
.number-date-2{
  left: 235px;
}
.date-separation{
  width: 2px;
  height: 20px;
  position: absolute;
  z-index: 3;
  top: 182px;
  left: 228px;
  background-color: #551756;
  transform: rotate(25deg);
}
.date-text{
  font-size: 8px;
  font-weight: 400;
  color: #902c90;
  position: absolute;
  top: 166px;
  left: 195px;
  text-transform: uppercase;
}
.name-card{
  width: 209px;
  height: 27px;
  top: 211px;
  left: 30px;
  text-transform: uppercase;
  font-size: 17px;
}
.flag{
  width: 100px;
  height: 130px;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 10px;
  border-radius: 40px;
  border: 1px solid #59255a;
}
.flag:before{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 12px;
  left: 15px;
  background-color: #d7002c;
  border-radius: 50%;
  box-shadow: #eda04d 31px 0px 0px;
}
.flag:after{
  content: "";
  width: 80px;
  height: 42px;
  position: absolute;
  top: 12px;
  left: 10px;
  background-color: #a6a3a7;
  border-radius: 20px;
}
.stripe{
  width: 100%;
  height: 50px;
  background-color: #e0dddd;
  position: absolute;
  top: 50px;
  left: 0;
}
.cvv-card{
  width: 63px;
  height: 30px;
  top: 109px;
  left: 179px;
  z-index: 4;
}
.strip-cvv{
  width: 250px;
  height: 40px;
  position: absolute;
  top: 106px;
  left: 0;
  background-color: #9e37a0;
}
label{
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;  
  justify-content: center;
  align-self: flex-end;
  border-radius: 5px;
  background-color: #f38d41;
  font-weight: 800;
  color: #FFF;
  text-transform: uppercase;
  font-size: 25px;
  position: absolute;
  opacity: 0;
}
#cardFront:checked ~ label[for="cardBack"] {
  opacity: 1;
  z-index: 2;
}
#cardFront:checked ~ label[for="cardFront"] {
  opacity: 0;
  z-index: 1;
} 
#cardBack:checked ~ label[for="cardBack"] {
  opacity: 0;
  z-index: 1;
}
#cardBack:checked ~ label[for="cardFront"] {
  opacity: 1;
  z-index: 2;
} 
#cardBack:checked ~ .cards{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}