@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
input{
	display: none;
}
.frame{
	width: 404px;
	height: 295px;
	position: absolute;
	left: calc(50% - 202px);
	top: calc(50% - 147px);
}
.frame label{
	width: 100%;
	height: 100%;
	float: left;
	cursor: pointer;
}
.frame:after{
	content: "Clique e que a força esteja com você!";
	width: 100%;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    color: #000;
}
.luke{
	width: 9px;
	height: 9px;
	float: left;
	box-shadow: #000000 180px 39px 0px,
				#000000 189px 30px 0px,
				#000000 198px 30px 0px,
				#000000 207px 30px 0px,
				#000000 216px 30px 0px,
				#000000 225px 39px 0px,
				#000000 234px 39px 0px,
				#000000 243px 39px 0px,
				#000000 252px 39px 0px,
				#000000 261px 48px 0px,
				#000000 269px 57px 0px,
				#000000 269px 66px 0px,
				#000000 269px 75px 0px,
				#000000 269px 84px 0px,
				#000000 269px 93px 0px,
				#000000 269px 102px 0px,
				#000000 269px 111px 0px,
				#000000 269px 120px 0px,
				#000000 269px 129px 0px,
				#000000 261px 129px 0px,
				#000000 252px 138px 0px,
				#000000 243px 138px 0px,
				#000000 234px 138px 0px,
				#000000 225px 138px 0px,
				#000000 216px 138px 0px,
				#000000 207px 138px 0px,
				#000000 198px 138px 0px,
				#000000 189px 138px 0px,
				#000000 180px 129px 0px,
				#000000 171px 129px 0px,
				#000000 171px 120px 0px,
				#000000 171px 111px 0px,
				#000000 171px 102px 0px,
				#000000 171px 93px 0px,
				#000000 171px 84px 0px,
				#000000 171px 75px 0px,
				#000000 171px 66px 0px,
				#000000 171px 57px 0px,
				#000000 171px 48px 0px,
				#d9d9d9 189px 39px 0px,
				#d9d9d9 198px 39px 0px,
				#cccccc 207px 39px 0px,
				#cccccc 216px 39px 0px,
				#cccccc 180px 48px 0px,
				#cccccc 189px 48px 0px,
				#e5e5e5 198px 48px 0px,
				#e5e5e5 207px 48px 0px,
				#e5e5e5 216px 48px 0px,
				#e5e5e5 225px 48px 0px,
				#e5e5e5 234px 48px 0px,
				#e5e5e5 243px 48px 0px,
				#e5e5e5 252px 48px 0px,
				#e5e5e5 180px 57px 0px,
				#e5e5e5 189px 57px 0px,
				#cccccc 198px 57px 0px,
				#d8d8d8 207px 57px 0px,
				#e5e5e5 216px 57px 0px,
				#e5e5e5 225px 57px 0px,
				#cccccc 234px 57px 0px,
				#cccccc 243px 57px 0px,
				#d8d8d8 252px 57px 0px,
				#e5e5e5 261px 57px 0px,
				#d8d9d4 180px 66px 0px,
				#fe976c 189px 66px 0px,
				#fe976c 198px 66px 0px,
				#d9d7d8 207px 66px 0px,
				#d8d6d7 216px 66px 0px,
				#c9cdcc 225px 66px 0px,
				#c9cdcc 225px 66px 0px,
				#ff9968 234px 66px 0px,
				#ff9968 243px 66px 0px,
				#d4d9dc 252px 66px 0px,
				#d9d9db 261px 66px 0px,
				#ff874b 180px 75px 0px,
				#ff9a66 189px 75px 0px,
				#ff9a66 198px 75px 0px,
				#ff9a66 207px 75px 0px,
				#ff9a66 216px 75px 0px,
				#ff9a66 225px 75px 0px,
				#ff9a66 234px 75px 0px,
				#ff9a66 243px 75px 0px,
				#ff9a66 252px 75px 0px,
				#e6e4e6 261px 75px 0px,
				#ff874b 180px 84px 0px,
				#ff9a66 189px 84px 0px,
				#ff9a66 198px 84px 0px,
				#ff9a66 207px 84px 0px,
				#ff9a66 216px 84px 0px,
				#ff9a66 225px 84px 0px,
				#ff9a66 234px 84px 0px,
				#ff9a66 243px 84px 0px,
				#ff9a66 252px 84px 0px,
				#e6e4e6 261px 84px 0px,
				#ff874b 180px 93px 0px,
				#ff9a66 189px 93px 0px,
				#000000 198px 93px 0px,
				#ff9a66 207px 93px 0px,
				#ff9a66 216px 93px 0px,
				#ff9a66 225px 93px 0px,
				#000000 234px 93px 0px,
				#ff9a66 243px 93px 0px,
				#ff9a66 252px 93px 0px,
				#e6e4e6 261px 93px 0px,
				#ff874b 180px 102px 0px,
				#ff9a66 189px 102px 0px,
				#ff9a66 198px 102px 0px,
				#d8d8d8 207px 102px 0px,
				#d8d8d8 216px 102px 0px,
				#e5e5e5 225px 102px 0px,
				#ff9a66 234px 102px 0px,
				#ff9a66 243px 102px 0px,
				#ff9a66 252px 102px 0px,
				#e6e4e6 261px 102px 0px,
				#ff874b 180px 111px 0px,
				#ff9a66 189px 111px 0px,
				#d7d8da 198px 111px 0px,
				#000000 207px 111px 0px,
				#000000 216px 111px 0px,
				#000000 225px 111px 0px,
				#e5e5e5 234px 111px 0px,
				#ff9a66 243px 111px 0px,
				#ff9a66 252px 111px 0px,
				#e6e4e6 261px 111px 0px,
				#d8d6d7 180px 120px 0px,
				#ff9a66 189px 120px 0px,
				#d7d8da 198px 120px 0px,
				#fe9965 207px 120px 0px,
				#fe9965 216px 120px 0px,
				#fe9965 225px 120px 0px,
				#e5e5e5 234px 120px 0px,
				#ff9a66 243px 120px 0px,
				#e5e4e9 252px 120px 0px,
				#e6e4e6 261px 120px 0px,
				#d8d8d8 189px 129px 0px,
				#ccccce 198px 129px 0px,
				#d8d8d8 207px 129px 0px,
				#d7d7d7 216px 129px 0px,
				#cccccc 225px 129px 0px,
				#d9d9d9 234px 129px 0px,
				#e5e5e5 243px 129px 0px,
				#e5e5e5 252px 129px 0px,
				#000000 278px 129px 0px,
				#000000 278px 138px 0px,
				#522b04 269px 138px 0px,
				#522b04 260px 138px 0px,
				#000000 278px 147px 0px,
				#000000 269px 147px 0px,
				#000000 260px 147px 0px,
				#673200 251px 147px 0px,
				#673200 242px 147px 0px,
				#431e01 233px 147px 0px,
				#ffd79a 224px 147px 0px,
				#fa884a 215px 147px 0px,
				#ffe1b3 206px 147px 0px,
				#4a2602 197px 147px 0px,
				#482505 188px 147px 0px,
				#000000 179px 147px 0px,
				#000000 269px 156px 0px,
				#653300 260px 156px 0px,
				#000000 251px 156px 0px,
				#663401 242px 156px 0px,
				#4c2601 233px 156px 0px,
				#feefc6 224px 156px 0px,
				#ffda94 215px 156px 0px,
				#ffe3b1 206px 156px 0px,
				#4a2701 206px 156px 0px,
				#4c2601 197px 156px 0px,
				#000000 188px 156px 0px,
				#4c2602 179px 156px 0px,
				#000000 170px 156px 0px,
				#000000 161px 156px 0px,
				#000000 269px 165px 0px,
				#653300 260px 165px 0px,
				#000000 251px 165px 0px,
				#663401 242px 165px 0px,
				#4c2601 233px 165px 0px,
				#ffecce 224px 165px 0px,
				#ffedcc 215px 165px 0px,
				#ffdb9d 206px 165px 0px,
				#4a2701 206px 165px 0px,
				#4c2601 197px 165px 0px,
				#000000 188px 165px 0px,
				#4c2602 179px 165px 0px,
				#000000 170px 165px 0px,
				#9e989a 161px 165px 0px,
				#000000 152px 165px 0px,
				#000000 269px 174px 0px,
				#ff9c65 260px 174px 0px,
				#000000 251px 174px 0px,
				#663401 242px 174px 0px,
				#4c2601 233px 174px 0px,
				#321a00 224px 174px 0px,
				#321a00 215px 174px 0px,
				#321a00 206px 174px 0px,
				#4a2701 206px 174px 0px,
				#4c2601 197px 174px 0px,
				#000000 188px 174px 0px,
				#000000 179px 174px 0px,
				#fe864a 170px 174px 0px,
				#000000 161px 174px 0px,
				#000000 260px 183px 0px,
				#000000 251px 183px 0px,
				#663401 242px 183px 0px,
				#4c2601 233px 183px 0px,
				#ffedcc 224px 183px 0px,
				#ffedcc 215px 183px 0px,
				#ffedcc 206px 183px 0px,
				#4a2701 206px 183px 0px,
				#4c2601 197px 183px 0px,
				#000000 188px 183px 0px,
				#98999b 179px 183px 0px,
				#000000 170px 183px 0px,
				#000000 161px 183px 0px,
				#000000 260px 192px 0px,
				#663202 251px 192px 0px,
				#4b2903 242px 192px 0px,
				#ffe3b1 233px 192px 0px,
				#ffe3b1 224px 192px 0px,
				#ffe3b1 215px 192px 0px,
				#ffe3b1 206px 192px 0px,
				#ffe3b1 206px 192px 0px,
				#ffe3b1 197px 192px 0px,
				#512500 188px 192px 0px,
				#000000 179px 192px 0px,
				#000000 260px 201px 0px,
				#000000 251px 201px 0px,
				#301b00 242px 201px 0px,
				#301b00 233px 201px 0px,
				#000000 224px 201px 0px,
				#000000 215px 201px 0px,
				#331b01 206px 201px 0px,
				#331b01 206px 201px 0px,
				#000000 197px 201px 0px,
				#000000 188px 201px 0px,
				#000000 179px 201px 0px,
				#000000 251px 210px 0px,
				#301b00 242px 210px 0px,
				#301b00 233px 210px 0px,
				#000000 206px 210px 0px,
				#000000 197px 210px 0px,
				#000000 188px 210px 0px;
				
				
}
/*O SABRE DE LUZ COMÇA NA LINHA 253*/
#luke:checked ~ .luke{
	width: 9px;
	height: 9px;
	float: left;
	box-shadow: #000000 180px 39px 0px,
				#000000 189px 30px 0px,
				#000000 198px 30px 0px,
				#000000 207px 30px 0px,
				#000000 216px 30px 0px,
				#000000 225px 39px 0px,
				#000000 234px 39px 0px,
				#000000 243px 39px 0px,
				#000000 252px 39px 0px,
				#000000 261px 48px 0px,
				#000000 269px 57px 0px,
				#000000 269px 66px 0px,
				#000000 269px 75px 0px,
				#000000 269px 84px 0px,
				#000000 269px 93px 0px,
				#000000 269px 102px 0px,
				#000000 269px 111px 0px,
				#000000 269px 120px 0px,
				#000000 269px 129px 0px,
				#000000 261px 129px 0px,
				#000000 252px 138px 0px,
				#000000 243px 138px 0px,
				#000000 234px 138px 0px,
				#000000 225px 138px 0px,
				#000000 216px 138px 0px,
				#000000 207px 138px 0px,
				#000000 198px 138px 0px,
				#000000 189px 138px 0px,
				#000000 180px 129px 0px,
				#000000 171px 129px 0px,
				#000000 171px 120px 0px,
				#000000 171px 111px 0px,
				#000000 171px 102px 0px,
				#000000 171px 93px 0px,
				#000000 171px 84px 0px,
				#000000 171px 75px 0px,
				#000000 171px 66px 0px,
				#000000 171px 57px 0px,
				#000000 171px 48px 0px,
				#d9d9d9 189px 39px 0px,
				#d9d9d9 198px 39px 0px,
				#cccccc 207px 39px 0px,
				#cccccc 216px 39px 0px,
				#cccccc 180px 48px 0px,
				#cccccc 189px 48px 0px,
				#e5e5e5 198px 48px 0px,
				#e5e5e5 207px 48px 0px,
				#e5e5e5 216px 48px 0px,
				#e5e5e5 225px 48px 0px,
				#e5e5e5 234px 48px 0px,
				#e5e5e5 243px 48px 0px,
				#e5e5e5 252px 48px 0px,
				#e5e5e5 180px 57px 0px,
				#e5e5e5 189px 57px 0px,
				#cccccc 198px 57px 0px,
				#d8d8d8 207px 57px 0px,
				#e5e5e5 216px 57px 0px,
				#e5e5e5 225px 57px 0px,
				#cccccc 234px 57px 0px,
				#cccccc 243px 57px 0px,
				#d8d8d8 252px 57px 0px,
				#e5e5e5 261px 57px 0px,
				#d8d9d4 180px 66px 0px,
				#fe976c 189px 66px 0px,
				#fe976c 198px 66px 0px,
				#d9d7d8 207px 66px 0px,
				#d8d6d7 216px 66px 0px,
				#c9cdcc 225px 66px 0px,
				#c9cdcc 225px 66px 0px,
				#ff9968 234px 66px 0px,
				#ff9968 243px 66px 0px,
				#d4d9dc 252px 66px 0px,
				#d9d9db 261px 66px 0px,
				#ff874b 180px 75px 0px,
				#ff9a66 189px 75px 0px,
				#ff9a66 198px 75px 0px,
				#ff9a66 207px 75px 0px,
				#ff9a66 216px 75px 0px,
				#ff9a66 225px 75px 0px,
				#ff9a66 234px 75px 0px,
				#ff9a66 243px 75px 0px,
				#ff9a66 252px 75px 0px,
				#e6e4e6 261px 75px 0px,
				#ff874b 180px 84px 0px,
				#ff9a66 189px 84px 0px,
				#ff9a66 198px 84px 0px,
				#ff9a66 207px 84px 0px,
				#ff9a66 216px 84px 0px,
				#ff9a66 225px 84px 0px,
				#ff9a66 234px 84px 0px,
				#ff9a66 243px 84px 0px,
				#ff9a66 252px 84px 0px,
				#e6e4e6 261px 84px 0px,
				#ff874b 180px 93px 0px,
				#ff9a66 189px 93px 0px,
				#000000 198px 93px 0px,
				#ff9a66 207px 93px 0px,
				#ff9a66 216px 93px 0px,
				#ff9a66 225px 93px 0px,
				#000000 234px 93px 0px,
				#ff9a66 243px 93px 0px,
				#ff9a66 252px 93px 0px,
				#e6e4e6 261px 93px 0px,
				#ff874b 180px 102px 0px,
				#ff9a66 189px 102px 0px,
				#ff9a66 198px 102px 0px,
				#d8d8d8 207px 102px 0px,
				#d8d8d8 216px 102px 0px,
				#e5e5e5 225px 102px 0px,
				#ff9a66 234px 102px 0px,
				#ff9a66 243px 102px 0px,
				#ff9a66 252px 102px 0px,
				#e6e4e6 261px 102px 0px,
				#ff874b 180px 111px 0px,
				#ff9a66 189px 111px 0px,
				#d7d8da 198px 111px 0px,
				#000000 207px 111px 0px,
				#000000 216px 111px 0px,
				#000000 225px 111px 0px,
				#e5e5e5 234px 111px 0px,
				#ff9a66 243px 111px 0px,
				#ff9a66 252px 111px 0px,
				#e6e4e6 261px 111px 0px,
				#d8d6d7 180px 120px 0px,
				#ff9a66 189px 120px 0px,
				#d7d8da 198px 120px 0px,
				#fe9965 207px 120px 0px,
				#fe9965 216px 120px 0px,
				#fe9965 225px 120px 0px,
				#e5e5e5 234px 120px 0px,
				#ff9a66 243px 120px 0px,
				#e5e4e9 252px 120px 0px,
				#e6e4e6 261px 120px 0px,
				#d8d8d8 189px 129px 0px,
				#ccccce 198px 129px 0px,
				#d8d8d8 207px 129px 0px,
				#d7d7d7 216px 129px 0px,
				#cccccc 225px 129px 0px,
				#d9d9d9 234px 129px 0px,
				#e5e5e5 243px 129px 0px,
				#e5e5e5 252px 129px 0px,
				#000000 278px 129px 0px,
				#000000 278px 138px 0px,
				#522b04 269px 138px 0px,
				#522b04 260px 138px 0px,
				#000000 278px 147px 0px,
				#000000 269px 147px 0px,
				#000000 260px 147px 0px,
				#673200 251px 147px 0px,
				#673200 242px 147px 0px,
				#431e01 233px 147px 0px,
				#ffd79a 224px 147px 0px,
				#fa884a 215px 147px 0px,
				#ffe1b3 206px 147px 0px,
				#4a2602 197px 147px 0px,
				#482505 188px 147px 0px,
				#000000 179px 147px 0px,
				#000000 269px 156px 0px,
				#653300 260px 156px 0px,
				#000000 251px 156px 0px,
				#663401 242px 156px 0px,
				#4c2601 233px 156px 0px,
				#feefc6 224px 156px 0px,
				#ffda94 215px 156px 0px,
				#ffe3b1 206px 156px 0px,
				#4a2701 206px 156px 0px,
				#4c2601 197px 156px 0px,
				#000000 188px 156px 0px,
				#4c2602 179px 156px 0px,
				#000000 170px 156px 0px,
				#000000 161px 156px 0px,
				#000000 269px 165px 0px,
				#653300 260px 165px 0px,
				#000000 251px 165px 0px,
				#663401 242px 165px 0px,
				#4c2601 233px 165px 0px,
				#ffecce 224px 165px 0px,
				#ffedcc 215px 165px 0px,
				#ffdb9d 206px 165px 0px,
				#4a2701 206px 165px 0px,
				#4c2601 197px 165px 0px,
				#000000 188px 165px 0px,
				#4c2602 179px 165px 0px,
				#000000 170px 165px 0px,
				#9e989a 161px 165px 0px,
				#000000 152px 165px 0px,
				#000000 269px 174px 0px,
				#ff9c65 260px 174px 0px,
				#000000 251px 174px 0px,
				#663401 242px 174px 0px,
				#4c2601 233px 174px 0px,
				#321a00 224px 174px 0px,
				#321a00 215px 174px 0px,
				#321a00 206px 174px 0px,
				#4a2701 206px 174px 0px,
				#4c2601 197px 174px 0px,
				#000000 188px 174px 0px,
				#000000 179px 174px 0px,
				#fe864a 170px 174px 0px,
				#000000 161px 174px 0px,
				#000000 260px 183px 0px,
				#000000 251px 183px 0px,
				#663401 242px 183px 0px,
				#4c2601 233px 183px 0px,
				#ffedcc 224px 183px 0px,
				#ffedcc 215px 183px 0px,
				#ffedcc 206px 183px 0px,
				#4a2701 206px 183px 0px,
				#4c2601 197px 183px 0px,
				#000000 188px 183px 0px,
				#98999b 179px 183px 0px,
				#000000 170px 183px 0px,
				#000000 161px 183px 0px,
				#000000 260px 192px 0px,
				#663202 251px 192px 0px,
				#4b2903 242px 192px 0px,
				#ffe3b1 233px 192px 0px,
				#ffe3b1 224px 192px 0px,
				#ffe3b1 215px 192px 0px,
				#ffe3b1 206px 192px 0px,
				#ffe3b1 206px 192px 0px,
				#ffe3b1 197px 192px 0px,
				#512500 188px 192px 0px,
				#000000 179px 192px 0px,
				#000000 260px 201px 0px,
				#000000 251px 201px 0px,
				#301b00 242px 201px 0px,
				#301b00 233px 201px 0px,
				#000000 224px 201px 0px,
				#000000 215px 201px 0px,
				#331b01 206px 201px 0px,
				#331b01 206px 201px 0px,
				#000000 197px 201px 0px,
				#000000 188px 201px 0px,
				#000000 179px 201px 0px,
				#000000 251px 210px 0px,
				#301b00 242px 210px 0px,
				#301b00 233px 210px 0px,
				#000000 206px 210px 0px,
				#000000 197px 210px 0px,
				#000000 188px 210px 0px,
				#98ccfe 152px 156px 0px,
				#016ac6 143px 156px 0px,
				#006acd 152px 147px 0px,
				#9ccafb 143px 147px 0px,
				#0268ca 134px 147px 0px,
				#0268ca 143px 138px 0px,
				#9ccafb 134px 138px 0px,
				#0268ca 125px 138px 0px,
				#0268ca 134px 129px 0px,
				#9ccafb 125px 129px 0px,
				#0268ca 116px 129px 0px,
				#9ccafb 116px 120px 0px,
				#0268ca 125px 120px 0px,
				#0268ca 107px 120px 0px,
				#0268ca 116px 111px 0px,
				#9ccafb 107px 111px 0px,
				#0268ca 98px 111px 0px,
				#0268ca 107px 102px 0px,
				#9ccafb 98px 102px 0px,
				#0268ca 89px 102px 0px,
				#0268ca 98px 93px 0px,
				#9ccafb 89px 93px 0px,
				#0268ca 80px 93px 0px,
				#0268ca 89px 84px 0px,
				#0268ca 80px 84px 0px;				
}