*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-45deg, #8e2c91 0%, #6b226d 100%);
}
html{
    width: 100%;
    height: 100%;
}
.container{
    width: 500px;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
}
.n {
    width: 65px;
    height: 100px;
    position: absolute;
    top: 97px;
    left: 11px;
    border: 4px solid #FFF;
    border-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
}
.n:before {
    content: "";
    width: 65px;
    height: 126px;
    position: absolute;
    top: -30px;
    left: 24px;
    border: 4px solid #FFF;
    border-bottom: 0px;
    border-radius: 20px 50px 0px 0px / 20px 40px 0 0;
}
.n:after {
    content: "";
    width: 24px;
    height: 16px;
    position: absolute;
    top: 86px;
    left: -4px;
    border: 4px solid #FFF;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px / 0px 0px 5px 5px;
}
.n-detail{
    width: 24px;
    height: 16px;
    position: absolute;
    top: 86px;
    left: 65px;
    border: 4px solid #FFF;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px / 0px 0px 5px 5px;
}
.u {
    width: 65px;
    height: 100px;
    position: absolute;
    top: 102px;
    left: 153px;
    border: 4px solid #FFF;
    border-bottom: 0px;
    border-radius: 20px 20px 0px 0px;
    transform: rotate(180deg);
}
.u:before {
    content: "";
    width: 65px;
    height: 126px;
    position: absolute;
    top: -30px;
    left: 24px;
    border: 4px solid #FFF;
    border-bottom: 0px;
    border-radius: 20px 50px 0px 0px / 20px 40px 0 0;
}
.u:after {
    content: "";
    width: 24px;
    height: 16px;
    position: absolute;
    top: 86px;
    left: -4px;
    border: 4px solid #FFF;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px / 0px 0px 5px 5px;
}
.u-detail{
    width: 24px;
    height: 16px;
    position: absolute;
    top: 86px;
    left: 65px;
    border: 4px solid #FFF;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px / 0px 0px 5px 5px;
}
.card-front{
    width: 89px;
    height: 63px;
    position: absolute;
    top: 144px;
    right: 105px;
    z-index: 2;
    border: 4px solid #FFF;
    border-radius: 11px;
    background-color: #74287b;
}
.card-front:before {
    content: "";
    width: 18px;
    height: 9px;
    position: absolute;
    top: 8px;
    right: 9px;
    border: 4px solid #FFF;
    border-radius: 0;
}
.card-front:after {
    content: "";
    width: 20px;
    height: 5px;
    position: absolute;
    top: 47px;
    left: 13px;
    background-color: #FFF;
    box-shadow: #FFF 27px 0px 0px, #FFF 37px 0px 0px;
}
.card-back {
    width: 88px;
    height: 63px;
    position: absolute;
    top: 102px;
    right: 89px;
    z-index: 1;
    border: 4px solid #FFF;
    border-radius: 11px;
    background-color: #74287b;
}
.card-back:after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 12px;
    left: 0;
    background-color: #FFF;
    box-shadow: #FFF 0px 13px 0px;
}