body{
	color: #555;
  	font-size: 1em;
  	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  	background-color: #cccccc;
}
h1{
	color: deepPink;
}
h2{
	font-size: 1em;
	color: #FFFFFF;
	background-color: #03A9F4;
	padding: 5px;
}
/*
	TODOS OS ELEMENTOS VÃO ESTAR DENTRO DESSA CLASSE
*/
.grid{
	width: 700px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px #999999;
}
/*RETÂNGULO*/
.retangulo{
	width: 200px;
	height: 100px;
	margin: 0 auto;
	background-color: #FB8C00;
}
/*CIRCULO*/
.circulo{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
	background-color: #FB8C00;
}
/*OVAL*/
.oval{
	width: 200px;
	height: 100px;
	margin: 0 auto;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	-o-border-radius: 100px / 50px;
	-ms-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	background-color: #FB8C00;
}
/*TRIÂNGULO UP*/
.triangulo-cima{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-bottom: 100px solid #FB8C00;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
/*TRIÂNGULO DOWN*/
.triangulo-baixo{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-top: 100px solid #FB8C00;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
/*TRIÂNGULO ESQUERDA*/
.triangulo-esquerda{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-right: 100px solid #FB8C00;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}
/*TRIÂNGULO DIREITO*/
.triangulo-direito{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-left: 100px solid #FB8C00;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}
/*TRIÂNGULO TOPO ESQUERDA*/
.triangulo-top-esquerda{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-top: 100px solid #FB8C00;
	border-right: 100px solid transparent;
}
/*TRIÂNGULO TOPO DIREITA*/
.triangulo-top-direito{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-top: 100px solid #FB8C00;
	border-left: 100px solid transparent;
}
/*TRIÂNGULO BAIXO ESQUERDA*/
.triangulo-bottom-esquerda{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-bottom: 100px solid #FB8C00;
	border-right: 100px solid transparent;
}
/*TRIÂNGULO BAIXO DEREITO*/
.triangulo-bottom-direito{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-bottom: 100px solid #FB8C00;
	border-left: 100px solid transparent;
}
/*ESTRELA DE 6 PONTOS*/
.estrela-seis{
	width: 0;
	height: 0;
	margin: 0 auto;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #FB8C00;
	position: relative;
}
.estrela-seis:after{
	width: 0;
	height: 0;
	margin: 0 auto;
	position: absolute;
	left: -50px;
	top: 30px;
	content: "";
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #FB8C00;
}
/*ESTRELA DE 5 PONTOS*/
.estrela-cinco{
	width: 0;
	height: 0;
	margin: 70px auto;
	position: relative;
	border-right: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid #FB8C00;
	-webkit-transform: rotate(35deg);
	-moz-transform:rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-trasnform: rotate(35deg);
	transform: rotate(35deg);
}
.estrela-cinco:before{
	width: 0;
	height: 0;
	position: absolute;
	top: -40px;
	left: -79px;
	content: "";
	border-right: 40px solid transparent;
	border-left: 40px solid transparent;
	border-bottom: 80px solid #FB8C00;
	-webkit-transform: rotate(-35deg);
	-moz-transform:rotate(-35deg);
	-ms-transform: rotate(-35deg);
	-o-trasnform: rotate(-35deg);
	transform: rotate(-35deg);
}
.estrela-cinco:after{
	width: 0;
	height: 0;
	position: absolute;
	top: 3px;
	left: -105px;
	content: "";
	border-right: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid #FB8C00;
	-webkit-transform: rotate(-70deg);
	-moz-transform:rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-o-trasnform: rotate(-70deg);
	transform: rotate(-70deg);
}
/*Pentágono*/
.pentagono{
	width: 54px;
	margin: 50px auto;
	position: relative;
	border-color: #FB8C00 transparent;
	border-style: solid;
	border-width: 50px 18px 0;
}
.pentagono:before{
	width: 0;
	height: 0;
	position: absolute;
	top: -85px;
	left: -18px;
	content: "";
	border-color: transparent transparent #FB8C00;
	border-style: solid;
	border-width: 0 45px 35px;
}
/*Hexágono*/
.hexagono{
	width: 100px;
	height: 55px;
	background-color: #FB8C00;
	margin: 50px auto;
	position: relative;
}
.hexagono:before{
	width: 0;
	height: 0;
	position: absolute;
	top: -25px;
	left: 0;
	content: "";
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #FB8C00;
}
.hexagono:after{
	width: 0;
	height: 0;
	position: absolute;
	bottom: -25px;
	left: 0;
	content: "";
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #FB8C00;
}
/*Octógono*/
.octogono{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #FB8C00;
	position: relative;
}
.octogono:before{
	width: 42px;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	border-bottom: 29px solid #FB8C00;
	border-left: 29px solid #FFFFFF;
	border-right: 29px solid #FFFFFF;
}
.octogono:after{
	width: 42px;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	border-top: 29px solid #FB8C00;
	border-left: 29px solid #FFFFFF;
	border-right: 29px solid #FFFFFF;
}
/*CORAÇÃO*/
.coracao{
	width: 100px;
	height: 90px;
	margin: 0 auto;
	position: relative;
}
.coracao:before, .coracao:after{
	width: 50px;
	height: 80px;
	position: absolute;
	top:0;
	left: 50px;
	content: "";
	background: #FB8C00;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.coracao:after{
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
/*INFINITO*/
.infinito{
	width: 212px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
.infinito:before, .infinito:after{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	border: 20px solid #FB8C00;
	border-radius: 50px 50px 0 50px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.infinito:after{
	left: auto;
	right: 0;
	border-radius: 50px 50px 50px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*OVO*/
.ovo{
	width: 126px;
	height: 180px;
	margin: 0 auto;
	background-color: #FB8C00;
	border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
}
/*PAC-MAN*/
.pac-man{
	width: 0px;
	height: 0px;
	margin: 0 auto;
	border-top: 100px solid #FB8C00;
	border-left: 100px solid #FB8C00;
	border-bottom: 100px solid #FB8C00;
	border-right: 100px solid transparent;
	border-radius: 100px;
}
/*AMPULHEETA DO TEMPO*/
.ampulheta{
	width: 0;
	height: 0;
	margin: 0 auto;
	position: relative;
	border-top: 100px solid #FB8C00;
	border-left: 80px solid #FB8C00;
	border-right: 80px solid #FB8C00;	
	border-radius: 0px 0px 80px 80px;
}
.ampulheta:before{
	width: 0;
	height: 0;
	position: absolute;
	top: -15px;
	left: -80px;
	content: "";
	border-bottom: 100px solid #FB8C00;
	border-left: 80px solid #FB8C00;
	border-right: 80px solid #FB8C00;
	border-radius: 80px 80px 0 0;
}
/*BURACO FECHADURA*/
.chave{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	background-color: #FB8C00;
	border-radius: 200px;
}
.chave:before{
	width: 70px;
	height: 70px;
	position: absolute;
	top: 30px;
	left: 65px;
	content: "";
	background-color: #FFFFFF;
	border-radius: 70px;
}
.chave:after{
	width: 35px;
	height: 0;
	position: absolute;
	top: 93px;
	left: 53px;
	content: "";
	border-color: #FFFFFF transparent;
	border-style: solid;
	border-width: 0 30px 70px;
}
/*OLHO*/
.olho{
	width: 180px;
	height: 180px;
	margin: 0 auto;
	position: relative;
	background-color: #FFFFFF;
	border: 10px solid #343434;
	border-radius: 150px 0 150px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.olho:before{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 40px;
	left: 40px;
	content: "";
	background-color: #01bdc6;
	border-radius: 50px;
}
.olho:after{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 65px;
	left: 65px;
	content: "";
	background-color: #000000;
	border-radius: 50px;
}