body,
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	width: 190px;
	height: 380px;
	position: relative;
}
@keyframes lightning {
	0% {
		background-color: #ffc107;
		box-shadow: 10px 0px 0px #ffc107,
							-10px -10px 0px #FFFFFF,
							20px -10px 0px #FFFFFF,
							-20px -20px 0px #FFFFFF,
							30px -20px 0px #FFFFFF,
							-30px -30px 0px #FFFFFF,
							40px -30px 0px #FFFFFF;
	}
	30% {
		background-color: #ffc107;
		box-shadow: 10px 0px 0px #ffc107,
							-10px -10px 0px #ffc107,
							20px -10px 0px #ffc107,
							-20px -20px 0px #FFFFFF,
							30px -20px 0px #FFFFFF,
							-30px -30px 0px #FFFFFF,
							40px -30px 0px #FFFFFF;
	}
	60% {
		background-color: #ffc107;
		box-shadow: 10px 0px 0px #ffc107,
							-10px -10px 0px #ffc107,
							20px -10px 0px #ffc107,
							-20px -20px 0px #ffc107,
							30px -20px 0px #ffc107,
							-30px -30px 0px #FFFFFF,
							40px -30px 0px #FFFFFF;
	}
	100% {
		background-color: #ffc107;
		box-shadow: 10px 0px 0px #ffc107,
							-10px -10px 0px #ffc107,
							20px -10px 0px #ffc107,
							-20px -20px 0px #ffc107,
							30px -20px 0px #ffc107,
							-30px -30px 0px #ffc107,
							40px -30px 0px #ffc107;
	}
}
.lightning-one,
.lightning-two {
	width: 10px;
	height: 10px;
	position: absolute;
	top: -10px;
	background-color: #FFFFFF;
	box-shadow: 10px 0px 0px #FFFFFF,
							-10px -10px 0px #FFFFFF,
							20px -10px 0px #FFFFFF,
							-20px -20px 0px #FFFFFF,
							30px -20px 0px #FFFFFF,
							-30px -30px 0px #FFFFFF,
							40px -30px 0px #FFFFFF;
	animation: lightning 500ms 1s linear infinite alternate;
}
.lightning-one {
	left: 30px;
}
.lightning-two {
	left: 160px;
}
.rock {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 30px;
	background-color: #000000;
	box-shadow: 10px 0px 0px #000000,
							130px 0px 0px #000000,
							140px 0px 0px #000000,
							-10px 10px 0px #000000,
							0px 10px 0px #f6cfa4,
							10px 10px 0px #f6cfa4,
							20px 10px 0px #000000,
							120px 10px 0px #000000,
							130px 10px 0px #F6CDA4,
							140px 10px 0px #f6cfa4,
							150px 10px 0px #000,
							-10px 20px 0px #000000,
							0px 20px 0px #f6cfa4,
							10px 20px 0px #f6cfa4,
							20px 20px 0px #000000,
							120px 20px 0px #000000,
							130px 20px 0px #F6CDA4,
							140px 20px 0px #f6cfa4,
							150px 20px 0px #000,
							-10px 30px 0px #000000,
							0px 30px 0px #f6cfa4,
							10px 30px 0px #f6cfa4,
							20px 30px 0px #000000,
							120px 30px 0px #000000,
							130px 30px 0px #F6CDA4,
							140px 30px 0px #f6cfa4,
							150px 30px 0px #000,
							-10px 40px 0px #000000,
							0px 40px 0px #f6cfa4,
							10px 40px 0px #f6cfa4,
							20px 40px 0px #000000,
							120px 40px 0px #000000,
							130px 40px 0px #F6CDA4,
							140px 40px 0px #f6cfa4,
							150px 40px 0px #000,
							-10px 50px 0px #000000,
							0px 50px 0px #f6cfa4,
							10px 50px 0px #f6cfa4,
							20px 50px 0px #000000,
							120px 50px 0px #000000,
							130px 50px 0px #F6CDA4,
							140px 50px 0px #f6cfa4,
							150px 50px 0px #000,
							-10px 60px 0px #000000,
							0px 60px 0px #f6cfa4,
							10px 60px 0px #f6cfa4,
							20px 60px 0px #000000,
							120px 60px 0px #000000,
							130px 60px 0px #F6CDA4,
							140px 60px 0px #f6cfa4,
							150px 60px 0px #000,
							-10px 70px 0px #000000,
							0px 70px 0px #f6cfa4,
							10px 70px 0px #f6cfa4,
							20px 70px 0px #000000,
							120px 70px 0px #000000,
							130px 70px 0px #F6CDA4,
							140px 70px 0px #f6cfa4,
							150px 70px 0px #000,
							-10px 80px 0px #000000,
							0px 80px 0px #f6cfa4,
							10px 80px 0px #f6cfa4,
							20px 80px 0px #000000,
							30px 80px 0px #000000,
							40px 80px 0px #000000,
							50px 80px 0px #000000,
							60px 80px 0px #000000,
							80px 80px 0px #000000,
							90px 80px 0px #000000,
							100px 80px 0px #000000,
							110px 80px 0px #000000,
							120px 80px 0px #000000,
							130px 80px 0px #F6CDA4,
							140px 80px 0px #F6CDA4,
							150px 80px 0px #000000,
							-10px 90px 0px #000000,
							0px 90px 0px #f6cfa4,
							10px 90px 0px #f6cfa4,
							20px 90px 0px #000000,
							30px 90px 0px #f6cfa4,
							40px 90px 0px #f6cfa4,
							50px 90px 0px #f6cfa4,
							60px 90px 0px #F6CDA4,
							70px 90px 0px #000000,
							80px 90px 0px #F6CDA4,
							90px 90px 0px #f6cfa4,
							100px 90px 0px #f6cfa4,
							110px 90px 0px #f6cfa4,
							120px 90px 0px #000000,
							130px 90px 0px #F6CDA4,
							140px 90px 0px #F6CDA4,
							150px 90px 0px #000000,
							-10px 100px 0px #000000,
							0px 100px 0px #f6cfa4,
							10px 100px 0px #f6cfa4,
							20px 100px 0px #000000,
							30px 100px 0px #f6cfa4,
							40px 100px 0px #f6cfa4,
							50px 100px 0px #f6cfa4,
							60px 100px 0px #F6CDA4,
							70px 100px 0px #000000,
							80px 100px 0px #F6CDA4,
							90px 100px 0px #f6cfa4,
							100px 100px 0px #f6cfa4,
							110px 100px 0px #f6cfa4,
							120px 100px 0px #000000,
							130px 100px 0px #F6CDA4,
							140px 100px 0px #F6CDA4,
							150px 100px 0px #000000,
							-10px 110px 0px #000000,
							0px 110px 0px #f6cfa4,
							10px 110px 0px #f6cfa4,
							20px 110px 0px #000000,
							30px 110px 0px #f6cfa4,
							40px 110px 0px #f6cfa4,
							50px 110px 0px #f6cfa4,
							60px 110px 0px #F6CDA4,
							70px 110px 0px #000000,
							80px 110px 0px #F6CDA4,
							90px 110px 0px #f6cfa4,
							100px 110px 0px #f6cfa4,
							110px 110px 0px #f6cfa4,
							120px 110px 0px #000000,
							130px 110px 0px #F6CDA4,
							140px 110px 0px #F6CDA4,
							150px 110px 0px #000000,
							-10px 120px 0px #000000,
							0px 120px 0px #f6cfa4,
							10px 120px 0px #f6cfa4,
							20px 120px 0px #000000,
							30px 120px 0px #f6cfa4,
							40px 120px 0px #f6cfa4,
							50px 120px 0px #f6cfa4,
							60px 120px 0px #F6CDA4,
							70px 120px 0px #000000,
							80px 120px 0px #F6CDA4,
							90px 120px 0px #f6cfa4,
							100px 120px 0px #f6cfa4,
							110px 120px 0px #f6cfa4,
							120px 120px 0px #000000,
							130px 120px 0px #F6CDA4,
							140px 120px 0px #F6CDA4,
							150px 120px 0px #000000,
							-10px 130px 0px #000000,
							0px 130px 0px #f6cfa4,
							10px 130px 0px #f6cfa4,
							20px 130px 0px #000000,
							30px 130px 0px #f6cfa4,
							40px 130px 0px #f6cfa4,
							50px 130px 0px #f6cfa4,
							60px 130px 0px #F6CDA4,
							70px 130px 0px #000000,
							80px 130px 0px #F6CDA4,
							90px 130px 0px #f6cfa4,
							100px 130px 0px #f6cfa4,
							110px 130px 0px #f6cfa4,
							120px 130px 0px #000000,
							130px 130px 0px #F6CDA4,
							140px 130px 0px #F6CDA4,
							150px 130px 0px #000000,
							-10px 140px 0px #000000,
							0px 140px 0px #f6cfa4,
							10px 140px 0px #f6cfa4,
							20px 140px 0px #000000,
							30px 140px 0px #f6cfa4,
							40px 140px 0px #f6cfa4,
							50px 140px 0px #f6cfa4,
							60px 140px 0px #F6CDA4,
							70px 140px 0px #000000,
							80px 140px 0px #F6CDA4,
							90px 140px 0px #f6cfa4,
							100px 140px 0px #f6cfa4,
							110px 140px 0px #f6cfa4,
							120px 140px 0px #000000,
							130px 140px 0px #F6CDA4,
							140px 140px 0px #F6CDA4,
							150px 140px 0px #000000,
							-10px 150px 0px #000000,
							0px 150px 0px #f6cfa4,
							10px 150px 0px #000000,
							20px 150px 0px #000000,
							30px 150px 0px #000000,
							40px 150px 0px #000000,
							50px 150px 0px #000000,
							60px 150px 0px #000000,
							70px 150px 0px #000000,
							80px 150px 0px #000000,
							90px 150px 0px #000000,
							100px 150px 0px #000000,
							110px 150px 0px #000000,
							120px 150px 0px #F6CDA4,
							130px 150px 0px #F6CDA4,
							140px 150px 0px #F6CDA4,
							150px 150px 0px #000000,
							-10px 160px 0px #000000,
							0px 160px 0px #000000,
							10px 160px 0px #f6cfa4,
							20px 160px 0px #f6cfa4,
							30px 160px 0px #000000,
							40px 160px 0px #f6cfa4,
							50px 160px 0px #f6cfa4,
							60px 160px 0px #f6cfa4,
							70px 160px 0px #f6cfa4,
							80px 160px 0px #f6cfa4,
							90px 160px 0px #f6cfa4,
							100px 160px 0px #f6cfa4,
							110px 160px 0px #f6cfa4,
							120px 160px 0px #F6CDA4,
							130px 160px 0px #F6CDA4,
							140px 160px 0px #F6CDA4,
							150px 160px 0px #000000,
							-10px 170px 0px #000000,
							0px 170px 0px #f6cfa4,
							10px 170px 0px #f6cfa4,
							20px 170px 0px #f6cfa4,
							30px 170px 0px #000000,
							40px 170px 0px #f6cfa4,
							50px 170px 0px #f6cfa4,
							60px 170px 0px #f6cfa4,
							70px 170px 0px #f6cfa4,
							80px 170px 0px #f6cfa4,
							90px 170px 0px #f6cfa4,
							100px 170px 0px #f6cfa4,
							110px 170px 0px #f6cfa4,
							120px 170px 0px #F6CDA4,
							130px 170px 0px #F6CDA4,
							140px 170px 0px #F6CDA4,
							150px 170px 0px #000000,
							-20px 180px 0px #000000,
							-10px 180px 0px #F6CDA4,
							0px 180px 0px #f6cfa4,
							10px 180px 0px #f6cfa4,
							20px 180px 0px #f6cfa4,
							30px 180px 0px #000000,
							40px 180px 0px #f6cfa4,
							50px 180px 0px #f6cfa4,
							60px 180px 0px #f6cfa4,
							70px 180px 0px #f6cfa4,
							80px 180px 0px #f6cfa4,
							90px 180px 0px #f6cfa4,
							100px 180px 0px #f6cfa4,
							110px 180px 0px #f6cfa4,
							120px 180px 0px #F6CDA4,
							130px 180px 0px #F6CDA4,
							140px 180px 0px #F6CDA4,
							150px 180px 0px #000000,
							-20px 190px 0px #000000,
							-10px 190px 0px #F6CDA4,
							0px 190px 0px #f6cfa4,
							10px 190px 0px #f6cfa4,
							20px 190px 0px #000000,
							30px 190px 0px #f6cfa4,
							40px 190px 0px #f6cfa4,
							50px 190px 0px #f6cfa4,
							60px 190px 0px #f6cfa4,
							70px 190px 0px #f6cfa4,
							80px 190px 0px #f6cfa4,
							90px 190px 0px #f6cfa4,
							100px 190px 0px #f6cfa4,
							110px 190px 0px #f6cfa4,
							120px 190px 0px #F6CDA4,
							130px 190px 0px #F6CDA4,
							140px 190px 0px #F6CDA4,
							150px 190px 0px #000000,
							-20px 200px 0px #000000,
							-10px 200px 0px #F6CDA4,
							0px 200px 0px #f6cfa4,
							10px 200px 0px #000000,
							20px 200px 0px #f6cfa4,
							30px 200px 0px #f6cfa4,
							40px 200px 0px #f6cfa4,
							50px 200px 0px #f6cfa4,
							60px 200px 0px #f6cfa4,
							70px 200px 0px #f6cfa4,
							80px 200px 0px #f6cfa4,
							90px 200px 0px #f6cfa4,
							100px 200px 0px #f6cfa4,
							110px 200px 0px #f6cfa4,
							120px 200px 0px #F6CDA4,
							130px 200px 0px #F6CDA4,
							140px 200px 0px #F6CDA4,
							150px 200px 0px #000000,
							-20px 210px 0px #000000,
							-10px 210px 0px #F6CDA4,
							0px 210px 0px #f6cfa4,
							10px 210px 0px #f6cfa4,
							20px 210px 0px #f6cfa4,
							30px 210px 0px #f6cfa4,
							40px 210px 0px #f6cfa4,
							50px 210px 0px #f6cfa4,
							60px 210px 0px #f6cfa4,
							70px 210px 0px #f6cfa4,
							80px 210px 0px #f6cfa4,
							90px 210px 0px #f6cfa4,
							100px 210px 0px #f6cfa4,
							110px 210px 0px #f6cfa4,
							120px 210px 0px #F6CDA4,
							130px 210px 0px #F6CDA4,
							140px 210px 0px #F6CDA4,
							150px 210px 0px #000000,
							-10px 220px 0px #000000,
							0px 220px 0px #f6cfa4,
							10px 220px 0px #f6cfa4,
							20px 220px 0px #f6cfa4,
							30px 220px 0px #f6cfa4,
							40px 220px 0px #f6cfa4,
							50px 220px 0px #f6cfa4,
							60px 220px 0px #f6cfa4,
							70px 220px 0px #f6cfa4,
							80px 220px 0px #f6cfa4,
							90px 220px 0px #f6cfa4,
							100px 220px 0px #f6cfa4,
							110px 220px 0px #f6cfa4,
							120px 220px 0px #F6CDA4,
							130px 220px 0px #F6CDA4,
							140px 220px 0px #F6CDA4,
							150px 220px 0px #000000,
							-10px 230px 0px #000000,
							0px 230px 0px #f6cfa4,
							10px 230px 0px #f6cfa4,
							20px 230px 0px #f6cfa4,
							30px 230px 0px #f6cfa4,
							40px 230px 0px #f6cfa4,
							50px 230px 0px #f6cfa4,
							60px 230px 0px #f6cfa4,
							70px 230px 0px #f6cfa4,
							80px 230px 0px #f6cfa4,
							90px 230px 0px #f6cfa4,
							100px 230px 0px #f6cfa4,
							110px 230px 0px #f6cfa4,
							120px 230px 0px #F6CDA4,
							130px 230px 0px #F6CDA4,
							140px 230px 0px #000000,
							0px 240px 0px #000000,
							10px 240px 0px #000000,
							20px 240px 0px #f6cfa4,
							30px 240px 0px #f6cfa4,
							40px 240px 0px #f6cfa4,
							50px 240px 0px #f6cfa4,
							60px 240px 0px #f6cfa4,
							70px 240px 0px #f6cfa4,
							80px 240px 0px #f6cfa4,
							90px 240px 0px #f6cfa4,
							100px 240px 0px #f6cfa4,
							110px 240px 0px #f6cfa4,
							120px 240px 0px #F6CDA4,
							130px 240px 0px #000000,
							10px 250px 0px #000000,
							20px 250px 0px #000000,
							30px 250px 0px #000000,
							40px 250px 0px #000000,
							50px 250px 0px #000000,
							60px 250px 0px #000000,
							70px 250px 0px #000000,
							80px 250px 0px #000000,
							90px 250px 0px #000000,
							100px 250px 0px #000000,
							110px 250px 0px #000000,
							120px 250px 0px #000000,
							130px 250px 0px #000000,
							10px 260px 0px #000000,
							20px 260px 0px #F6CDA4,
							30px 260px 0px #F6CDA4,
							40px 260px 0px #F6CDA4,
							50px 260px 0px #F6CDA4,
							60px 260px 0px #F6CDA4,
							70px 260px 0px #F6CDA4,
							80px 260px 0px #F6CDA4,
							90px 260px 0px #F6CDA4,
							100px 260px 0px #F6CDA4,
							110px 260px 0px #F6CDA4,
							120px 260px 0px #F6CDA4,
							130px 260px 0px #000000,
							10px 270px 0px #000000,
							20px 270px 0px #F6CDA4,
							30px 270px 0px #F6CDA4,
							40px 270px 0px #F6CDA4,
							50px 270px 0px #F6CDA4,
							60px 270px 0px #F6CDA4,
							70px 270px 0px #F6CDA4,
							80px 270px 0px #F6CDA4,
							90px 270px 0px #F6CDA4,
							100px 270px 0px #F6CDA4,
							110px 270px 0px #F6CDA4,
							120px 270px 0px #F6CDA4,
							130px 270px 0px #000000,
							10px 280px 0px #000000,
							20px 280px 0px #F6CDA4,
							30px 280px 0px #F6CDA4,
							40px 280px 0px #F6CDA4,
							50px 280px 0px #F6CDA4,
							60px 280px 0px #F6CDA4,
							70px 280px 0px #F6CDA4,
							80px 280px 0px #F6CDA4,
							90px 280px 0px #F6CDA4,
							100px 280px 0px #F6CDA4,
							110px 280px 0px #F6CDA4,
							120px 280px 0px #F6CDA4,
							130px 280px 0px #000000,
							0px 290px 0px #000000,
							10px 290px 0px #000000,
							20px 290px 0px #000000,
							30px 290px 0px #000000,
							40px 290px 0px #000000,
							50px 290px 0px #000000,
							60px 290px 0px #000000,
							70px 290px 0px #000000,
							80px 290px 0px #000000,
							90px 290px 0px #000000,
							100px 290px 0px #000000,
							110px 290px 0px #000000,
							120px 290px 0px #000000,
							130px 290px 0px #000000,
							140px 290px 0px #000000,
							-10px 300px 0px #000000,
							0px 300px 0px #ed1b23,
							10px 300px 0px #ed1b23,
							20px 300px 0px #ed1b23,
							30px 300px 0px #ed1b23,
							40px 300px 0px #ed1b23,
							50px 300px 0px #ed1b23,
							60px 300px 0px #ed1b23,
							70px 300px 0px #ed1b23,
							80px 300px 0px #ed1b23,
							90px 300px 0px #ed1b23,
							100px 300px 0px #ed1b23,
							110px 300px 0px #ed1b23,
							120px 300px 0px #ed1b23,
							130px 300px 0px #ed1b23,
							140px 300px 0px #ed1b23,
							150px 300px 0px #000000,
							-20px 310px 0px #e3e9ed,
							-10px 310px 0px #e3e9ed,
							0px 310px 0px #ed1b23,
							10px 310px 0px #e3e9ed,
							20px 310px 0px #ed1b23,
							30px 310px 0px #e3e9ed,
							40px 310px 0px #ed1b23,
							50px 310px 0px #e3e9ed,
							60px 310px 0px #ed1b23,
							70px 310px 0px #e3e9ed,
							80px 310px 0px #ed1b23,
							90px 310px 0px #e3e9ed,
							100px 310px 0px #ed1b23,
							110px 310px 0px #e3e9ed,
							120px 310px 0px #ed1b23,
							130px 310px 0px #e3e9ed,
							140px 310px 0px #ed1b23,
							150px 310px 0px #e3e9ed,
							160px 310px 0px #e3e9ed,
							-10px 320px 0px #000000,
							0px 320px 0px #ed1b23,
							10px 320px 0px #ed1b23,
							20px 320px 0px #ed1b23,
							30px 320px 0px #ed1b23,
							40px 320px 0px #ed1b23,
							50px 320px 0px #ed1b23,
							60px 320px 0px #ed1b23,
							70px 320px 0px #ed1b23,
							80px 320px 0px #ed1b23,
							90px 320px 0px #ed1b23,
							100px 320px 0px #ed1b23,
							110px 320px 0px #ed1b23,
							120px 320px 0px #ed1b23,
							130px 320px 0px #ed1b23,
							140px 320px 0px #ed1b23,
							150px 320px 0px #000000,
							0px 330px 0px #000000,
							10px 330px 0px #000000,
							20px 330px 0px #000000,
							30px 330px 0px #000000,
							40px 330px 0px #000000,
							50px 330px 0px #000000,
							60px 330px 0px #000000,
							70px 330px 0px #000000,
							80px 330px 0px #000000,
							90px 330px 0px #000000,
							100px 330px 0px #000000,
							110px 330px 0px #000000,
							120px 330px 0px #000000,
							130px 330px 0px #000000,
							140px 330px 0px #000000,
							10px 340px 0px #000000,
							20px 340px 0px #F6CDA4,
							30px 340px 0px #F6CDA4,
							40px 340px 0px #F6CDA4,
							50px 340px 0px #F6CDA4,
							60px 340px 0px #F6CDA4,
							70px 340px 0px #F6CDA4,
							80px 340px 0px #F6CDA4,
							90px 340px 0px #F6CDA4,
							100px 340px 0px #F6CDA4,
							110px 340px 0px #F6CDA4,
							120px 340px 0px #F6CDA4,
							130px 340px 0px #000000,
							10px 350px 0px #000000,
							20px 350px 0px #F6CDA4,
							30px 350px 0px #F6CDA4,
							40px 350px 0px #F6CDA4,
							50px 350px 0px #F6CDA4,
							60px 350px 0px #F6CDA4,
							70px 350px 0px #F6CDA4,
							80px 350px 0px #F6CDA4,
							90px 350px 0px #F6CDA4,
							100px 350px 0px #F6CDA4,
							110px 350px 0px #F6CDA4,
							120px 350px 0px #F6CDA4,
							130px 350px 0px #000000,
							10px 360px 0px #000000,
							20px 360px 0px #F6CDA4,
							30px 360px 0px #F6CDA4,
							40px 360px 0px #F6CDA4,
							50px 360px 0px #F6CDA4,
							60px 360px 0px #F6CDA4,
							70px 360px 0px #F6CDA4,
							80px 360px 0px #F6CDA4,
							90px 360px 0px #F6CDA4,
							100px 360px 0px #F6CDA4,
							110px 360px 0px #F6CDA4,
							120px 360px 0px #F6CDA4,
							130px 360px 0px #000000,
							10px 370px 0px #000000,
							20px 370px 0px #F6CDA4,
							30px 370px 0px #F6CDA4,
							40px 370px 0px #F6CDA4,
							50px 370px 0px #F6CDA4,
							60px 370px 0px #F6CDA4,
							70px 370px 0px #F6CDA4,
							80px 370px 0px #F6CDA4,
							90px 370px 0px #F6CDA4,
							100px 370px 0px #F6CDA4,
							110px 370px 0px #F6CDA4,
							120px 370px 0px #F6CDA4,
							130px 370px 0px #000000;
}
